---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card';
import Hero from '../components/HeroSection.astro';
import Navbar from '../components/Navbar';
import "@fontsource/questrial";
import "@fontsource/roboto";
import Services from '../components/Services';
import menu from "../../data"
import ContactSection from '../components/ContactSection.astro';
import ServiceIntroSection from '../components/ServiceIntroSection.astro';

---

<Layout title="HOME | Merkeb Fitness">
	<main class="h-screen">
		<div class="md:h-3/25">
				<Navbar client:load/>
		</div>
		<div class="md:h-22/25">
			<Hero/>
		</div>
	</main>
	<section class="bg-background">
		<div class="flex flex-col space-y-3 justify-center items-center w-full pt-28">
			<div class="font-questrial font-normal leading-10 md:text-[40px] text-[32px]">Our Menu</div>
			<div class="font-Rob font-light md:text-lg text-base text-center max-w-[292px] md:max-w-lg md:text-start leading-5">choose from our healthy, nutritios & delicious items</div>
		</div>
		<div class="pt-16 md:px-20">
			<div class="flex flex-col justify-center items-center space-y-6 md:grid md:grid-cols-3 md:gap-4">
				{
					menu.map((item) => (
						<Card client:load image={item.image} name={item.name} price={item.price} alt={item.alt} protien={item.protien} fat={item.protien} carbs={item.carbs} calories={item.calories} fat={item.fat} />
					))
				}
			</div>
		</div>
		<div class="flex justify-center items-center py-20 ">
			<button class="bg-accent font-Rob font-semibold rounded-xl text-lg w-52 h-14 text-center">View All Meals</button>
		</div>
	</section>
	<Services client:load />
	<ServiceIntroSection />
	<section class="bg-[#D9D9D9]">
		<div class="p-20 flex flex-col justify-center items-center text-center space-y-8">
			<p class="font-questrial font-normal md:text-4xl text-[32px] leading-[51px] md:max-w-sm max-w-[340px]">Get in the best shape of your life</p>
			<button class="bg-accent w-52 h-12 font-Rob text-lg font-semibold rounded-xl">Order Now</button>
		</div>
	</section>
	<ContactSection />
</Layout>
