---
import "@fontsource/questrial";
import "@fontsource/roboto";
import Layout from "../layouts/Layout.astro";
import Navbar from '../components/Navbar';
import Card from '../components/Card';
import menu from "../../data"
import ContactSection from "../components/ContactSection.astro";
import ServiceIntroSection from "../components/ServiceIntroSection.astro";
---
<Layout title="Enjoy our Menu">
    <div class="h-20">
        <Navbar />
    </div>
    <section class="bg-background min-h-screen md:p-20 py-20 p-5">
        <p class="text-center font-questrial font-normal text-[40px] leading-[56px]">Our Menu</p>
        <p class="text-center font-Rob font-light text-lg leading-5">choose from our healthy, nutritious, & delicios menu items</p>
        <p class="font-questrial pt-20 text-[32px] font-normal leading-[45px]">Meals</p>
        <div class="w-[87px] bg-accent h-1 mb-6"></div>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
            {
                menu.map((item) => (
                    <Card client:load image={item.image} name={item.name} price={item.price} alt={item.alt} protien={item.protien} fat={item.protien} carbs={item.carbs} calories={item.calories} fat={item.fat} />
                ))
            }
        </div>
        <p class="font-questrial pt-20 text-[32px] font-normal leading-[45px]">Shakes</p>
        <div class="w-[105px] bg-accent h-1 mb-6"></div>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
            {
                menu.map((item) => (
                    <Card client:load image={item.image} name={item.name} price={item.price} alt={item.alt} protien={item.protien} fat={item.protien} carbs={item.carbs} calories={item.calories} fat={item.fat} />
                ))
            }
        </div>
        <p class="font-questrial pt-20 text-[32px] font-normal leading-[45px]">Snacks</p>
        <div class="w-[110px] bg-accent h-1 mb-6"></div>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
            {
                menu.map((item) => (
                    <Card client:load image={item.image} name={item.name} price={item.price} alt={item.alt} protien={item.protien} fat={item.protien} carbs={item.carbs} calories={item.calories} fat={item.fat} />
                ))
            }
        </div>
    </section>
    <ServiceIntroSection />
    <section class="bg-[#D9D9D9]">
		<div class="p-20 flex flex-col justify-center items-center text-center space-y-8">
			<p class="font-questrial font-normal text-4xl leading-[51px] max-w-sm">Get in the best shape of your life</p>
			<button class="bg-accent w-52 h-12 font-Rob text-lg font-semibold rounded-xl">Order Now</button>
		</div>
	</section>
	<ContactSection />
</Layout>